# General
.DS_Store
node_modules
node_modules/*
package-lock.json
stills/*
stillsNew/*
stillsCutout/*
stills100k/*
stills-final/*
*.png
*.zip
*.pyc
www/*

lib
server/allJointDataParsed.js

assets/bundle.js
assets/share.js
assets/style.css
assets/mirrorImages/*
node_modules/
.DS_Store
.sass-cache
*.swp
.idea/
yarn-error.log

ssl/*